<!DOCTYPE html>
<html lang="en" data-theme="pastel">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://unpkg.com/zdog@1/dist/zdog.dist.js"></script>
    <%- include('components/head') %>
  </head>

  <body>
    <%- include('components/navbar') %>
    <div class="drawer drawer-mobile">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-center">
        <!-- Main content here -->
        <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden"
          >Open drawer</label
        >

        <div class="hero min-h-[90vh] bg-base-100 p-5">
          <div class="grid grid-cols-2 gap-10">
            <h2 class="text-5xl font-bold cols-span-2">
              Welcome! <br /><%= cuser.email %>
            </h2>
            <div class="stats shadow col-span-2">
              <div class="stat">
                <div class="stat-figure text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="inline-block w-8 h-8 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                </div>
                <div class="stat-title">Downloads</div>
                <div class="stat-value">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
              </div>

              <div class="stat">
                <div class="stat-figure text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="inline-block w-8 h-8 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                    ></path>
                  </svg>
                </div>
                <div class="stat-title">New Users</div>
                <div class="stat-value">4,200</div>
                <div class="stat-desc">↗︎ 400 (22%)</div>
              </div>

              <div class="stat">
                <div class="stat-figure text-secondary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="inline-block w-8 h-8 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
                    ></path>
                  </svg>
                </div>
                <div class="stat-title">New Registers</div>
                <div class="stat-value">1,200</div>
                <div class="stat-desc">↘︎ 90 (14%)</div>
              </div>
            </div>
            <h2 class="col-span-2 text-2xl font-semibold">Simulation</h2>
            <div class="col-span-2 flex items-center justify-center">
              <canvas
                class="zdog-canvas w-[50%]"
                width="240"
                height="240"
                class="rounded-xl"
              ></canvas>
            </div>
            <canvas id="speedChart" class="col-span-2"></canvas>
            <canvas id="myChart1" class="col-span-2"></canvas>
          </div>
        </div>
      </div>

      <div class="drawer-side">
        <label for="my-drawer-2" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          <li><a>Overview</a></li>
          <li><a>User Details</a></li>
        </ul>
      </div>
    </div>
    <script src="/scripts/script.js"></script>
    <script>
      var speedCanvas = document.getElementById("speedChart");

      Chart.defaults.global.defaultFontSize = 18;

      const createRandomArray = (length) => {
        const arr = [];
        for (let i = 0; i < length; i++) {
          arr.push(Math.floor(Math.random() * 200) - 100);
        }
        return arr;
      };

      var myChart1 = new Chart(speedCanvas, {
        type: "line",
        data: {
          labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
          datasets: [
            {
              label: "Accerlometer X",
              data: createRandomArray(7),
              backgroundColor: "rgba(255, 99, 132, 0.2)",
              borderColor: "rgba(255, 99, 132, 1)",
              borderWidth: 1,
              fill: false,
            },
            {
              label: "Accerlometer Y",
              data: createRandomArray(7),
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              borderColor: "rgba(54, 162, 235, 1)",
              borderWidth: 1,
              fill: false,
            },
            {
              label: "Accerlometer Z",
              data: createRandomArray(7),
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderColor: "rgba(75, 192, 192, 1)",
              borderWidth: 1,
              fill: false,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      var ctx = document.getElementById("myChart1").getContext("2d");
      //create for the gyroscope X Y Z
      var myChart1 = new Chart(ctx, {
        type: "line",
        data: {
          labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
          datasets: [
            {
              label: "Gyroscope X",
              data: createRandomArray(7),
              backgroundColor: "rgba(255, 99, 132, 0.2)",
              borderColor: "rgba(255, 99, 132, 1)",
              borderWidth: 1,
              fill: false,
            },
            {
              label: "Gyroscope Y",
              data: createRandomArray(7),
              backgroundColor: "rgba(54, 162, 235, 0.2)",
              borderColor: "rgba(54, 162, 235, 1)",
              borderWidth: 1,
              fill: false,
            },
            {
              label: "Gyroscope Z",
              data: createRandomArray(7),
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderColor: "rgba(75, 192, 192, 1)",
              borderWidth: 1,
              fill: false,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script>
  </body>
</html>
