* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to top right, #7c89d5, #f599a5);
  font-size: 16px;
}
header{
  width: 100vw;
}
.nav-row{
  height: 50px;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-right: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  opacity: 0.75;
}
center
.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10rem;
}
.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.nav-row {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list--primary {
  margin: 0 auto;
}

.nav__item + .nav__item {
  margin-left: 0.5em;
}

.center {
  position: absolute;
  display: block;
  top: 416px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 90vh;
  display: flex;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}
.user-details img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.inspiration {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Gill Sans', sans-serif;
  color: #fff;
}
.left {
  /* flex: 0 0 150px; */
  width: 200px;
  height: 100%;
  background-color: #fff;
  color: #848697;
  border-radius: 3px 0 0 3px;
  
}
.logo {
  position: relative;
  top: 10px;
  height: 100px;
}
.company {
  text-align: center;
}
.company .company-name {
  font-weight: bold;
  color: #333;
}
.company .company-description {
  position: relative;
  margin: 10px auto;
  width: 100px;
  font-size: 10px;
}
.navigation {
  position: relative;
  display: block;
  margin-top: 50px;
}
.navigation li {
  padding: 0px 25px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation li i {
  font-size: 20px;
}
.navigation li span {
  padding-left: 15px;
  vertical-align: super;
}
.right {
  flex: 1 1 auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1447%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1448)'%3e%3c/rect%3e%3cpath d='M56.8 -38.08L121.75 -0.58L121.75 74.42L56.8 111.92L-8.15 74.42L-8.15 -0.58zM56.8 186.92L121.75 224.42L121.75 299.42L56.8 336.92L-8.15 299.42L-8.15 224.42zM56.8 411.92L121.75 449.42L121.75 524.42L56.8 561.92L-8.15 524.42L-8.15 449.42zM186.71 -38.08L251.66 -0.58L251.66 74.42L186.71 111.92L121.75 74.42L121.75 -0.58zM186.71 186.92L251.66 224.42L251.66 299.42L186.71 336.92L121.75 299.42L121.75 224.42zM251.66 524.42L316.62 561.92L316.62 636.92L251.66 674.42L186.71 636.92L186.71 561.92zM381.57 299.42L446.52 336.92L446.52 411.92L381.57 449.42L316.62 411.92L316.62 336.92zM316.62 411.92L381.57 449.42L381.57 524.42L316.62 561.92L251.66 524.42L251.66 449.42zM381.57 524.42L446.52 561.92L446.52 636.92L381.57 674.42L316.62 636.92L316.62 561.92zM446.52 -38.08L511.48 -0.58L511.48 74.42L446.52 111.92L381.57 74.42L381.57 -0.58zM446.52 186.92L511.48 224.42L511.48 299.42L446.52 336.92L381.57 299.42L381.57 224.42zM641.38 524.42L706.34 561.92L706.34 636.92L641.38 674.42L576.43 636.92L576.43 561.92zM706.34 -38.08L771.29 -0.58L771.29 74.42L706.34 111.92L641.38 74.42L641.38 -0.58zM771.29 299.42L836.25 336.92L836.25 411.92L771.29 449.42L706.34 411.92L706.34 336.92zM771.29 524.42L836.25 561.92L836.25 636.92L771.29 674.42L706.34 636.92L706.34 561.92zM836.24 -38.08L901.2 -0.58L901.2 74.42L836.24 111.92L771.29 74.42L771.29 -0.58zM836.24 186.92L901.2 224.42L901.2 299.42L836.24 336.92L771.29 299.42L771.29 224.42zM901.2 524.42L966.15 561.92L966.15 636.92L901.2 674.42L836.24 636.92L836.24 561.92zM966.15 -38.08L1031.11 -0.58L1031.11 74.42L966.15 111.92L901.2 74.42L901.2 -0.58zM1031.11 74.42L1096.06 111.92L1096.06 186.92L1031.11 224.42L966.15 186.92L966.15 111.92zM1031.11 299.42L1096.06 336.92L1096.06 411.92L1031.11 449.42L966.15 411.92L966.15 336.92zM1161.01 74.42L1225.97 111.92L1225.97 186.92L1161.01 224.42L1096.06 186.92L1096.06 111.92zM1096.06 186.92L1161.01 224.42L1161.01 299.42L1096.06 336.92L1031.11 299.42L1031.11 224.42zM1161.01 299.42L1225.97 336.92L1225.97 411.92L1161.01 449.42L1096.06 411.92L1096.06 336.92zM1096.06 411.92L1161.01 449.42L1161.01 524.42L1096.06 561.92L1031.11 524.42L1031.11 449.42zM1225.97 -38.08L1290.92 -0.58L1290.92 74.42L1225.97 111.92L1161.01 74.42L1161.01 -0.58zM1290.92 74.42L1355.87 111.92L1355.87 186.92L1290.92 224.42L1225.97 186.92L1225.97 111.92zM1290.92 299.42L1355.87 336.92L1355.87 411.92L1290.92 449.42L1225.97 411.92L1225.97 336.92zM1225.97 411.92L1290.92 449.42L1290.92 524.42L1225.97 561.92L1161.01 524.42L1161.01 449.42zM1355.88 186.92L1420.83 224.42L1420.83 299.42L1355.88 336.92L1290.92 299.42L1290.92 224.42zM1355.88 411.92L1420.83 449.42L1420.83 524.42L1355.88 561.92L1290.92 524.42L1290.92 449.42zM1420.83 524.42L1485.78 561.92L1485.78 636.92L1420.83 674.42L1355.88 636.92L1355.88 561.92zM1550.74 299.42L1615.69 336.92L1615.69 411.92L1550.74 449.42L1485.78 411.92L1485.78 336.92zM1485.78 411.92L1550.74 449.42L1550.74 524.42L1485.78 561.92L1420.83 524.42L1420.83 449.42z' stroke='rgba(235%2c 194%2c 140%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M49.3 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM114.25 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM114.25 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM49.3 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-15.65 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-15.65 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM49.3 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM114.25 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM114.25 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM49.3 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-15.65 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-15.65 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM49.3 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM114.25 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM114.25 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM49.3 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-15.65 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-15.65 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM179.21 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM179.21 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM179.21 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM179.21 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM309.12 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM309.12 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 674.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM179.21 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM179.21 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM309.12 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM309.12 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM244.16 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 674.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.98 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.98 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM439.02 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.98 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.98 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM374.07 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.88 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.84 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.84 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.88 674.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.93 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM568.93 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.84 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.84 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.88 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM633.88 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.75 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.75 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.84 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM698.84 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.75 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.75 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 674.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.74 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM893.7 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM893.7 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.74 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.74 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM893.7 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM893.7 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.74 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM763.79 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM893.7 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM893.7 674.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.74 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM828.74 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1023.61 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1023.61 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1088.56 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1088.56 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1023.61 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1023.61 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1088.56 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1088.56 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1023.61 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM958.65 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1153.51 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1218.47 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1218.47 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1153.51 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1153.51 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1218.47 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1218.47 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1153.51 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1153.51 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1088.56 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1023.61 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1218.47 -38.08 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1283.42 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1283.42 74.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1153.51 -0.58 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.37 111.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.37 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1283.42 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1283.42 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.37 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.37 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1283.42 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1283.42 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1218.47 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.38 186.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1413.33 224.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1413.33 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.38 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.38 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1413.33 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1413.33 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.38 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1478.28 561.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1478.28 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1413.33 674.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1348.38 636.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1543.24 299.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1608.19 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1608.19 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1543.24 449.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1478.28 411.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1478.28 336.92 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1543.24 524.42 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(235%2c 194%2c 140%2c 1)'%3e%3c/path%3e%3cpath d='M52.02 365.79L95.33 390.79L95.33 440.79L52.02 465.79L8.72 440.79L8.72 390.79zM138.63 515.79L181.93 540.79L181.93 590.79L138.63 615.79L95.33 590.79L95.33 540.79zM268.54 -9.21L311.84 15.79L311.84 65.79L268.54 90.79L225.23 65.79L225.23 15.79zM355.14 -9.21L398.44 15.79L398.44 65.79L355.14 90.79L311.84 65.79L311.84 15.79zM398.44 215.79L441.75 240.79L441.75 290.79L398.44 315.79L355.14 290.79L355.14 240.79zM398.44 365.79L441.75 390.79L441.75 440.79L398.44 465.79L355.14 440.79L355.14 390.79zM441.75 -9.21L485.05 15.79L485.05 65.79L441.75 90.79L398.44 65.79L398.44 15.79zM485.05 515.79L528.35 540.79L528.35 590.79L485.05 615.79L441.75 590.79L441.75 540.79zM528.35 -9.21L571.65 15.79L571.65 65.79L528.35 90.79L485.05 65.79L485.05 15.79zM528.35 140.79L571.65 165.79L571.65 215.79L528.35 240.79L485.05 215.79L485.05 165.79zM571.65 215.79L614.96 240.79L614.96 290.79L571.65 315.79L528.35 290.79L528.35 240.79zM571.65 515.79L614.96 540.79L614.96 590.79L571.65 615.79L528.35 590.79L528.35 540.79zM658.26 365.79L701.56 390.79L701.56 440.79L658.26 465.79L614.96 440.79L614.96 390.79zM701.56 140.79L744.86 165.79L744.86 215.79L701.56 240.79L658.26 215.79L658.26 165.79zM744.86 215.79L788.17 240.79L788.17 290.79L744.86 315.79L701.56 290.79L701.56 240.79zM744.86 515.79L788.17 540.79L788.17 590.79L744.86 615.79L701.56 590.79L701.56 540.79zM831.47 515.79L874.77 540.79L874.77 590.79L831.47 615.79L788.17 590.79L788.17 540.79zM874.77 290.79L918.07 315.79L918.07 365.79L874.77 390.79L831.47 365.79L831.47 315.79zM961.38 -9.21L1004.68 15.79L1004.68 65.79L961.38 90.79L918.07 65.79L918.07 15.79zM1004.68 365.79L1047.98 390.79L1047.98 440.79L1004.68 465.79L961.38 440.79L961.38 390.79zM1091.28 215.79L1134.59 240.79L1134.59 290.79L1091.28 315.79L1047.98 290.79L1047.98 240.79zM1047.98 440.79L1091.28 465.79L1091.28 515.79L1047.98 540.79L1004.68 515.79L1004.68 465.79zM1177.89 65.79L1221.19 90.79L1221.19 140.79L1177.89 165.79L1134.59 140.79L1134.59 90.79zM1264.49 365.79L1307.8 390.79L1307.8 440.79L1264.49 465.79L1221.19 440.79L1221.19 390.79zM1264.49 515.79L1307.8 540.79L1307.8 590.79L1264.49 615.79L1221.19 590.79L1221.19 540.79zM1307.8 140.79L1351.1 165.79L1351.1 215.79L1307.8 240.79L1264.49 215.79L1264.49 165.79zM1437.7 365.79L1481.01 390.79L1481.01 440.79L1437.7 465.79L1394.4 440.79L1394.4 390.79z' stroke='rgba(204%2c 84%2c 119%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1447'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1448'%3e%3cstop stop-color='rgba(227%2c 160%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(204%2c 84%2c 119%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat:no-repeat;
  background-size: cover;
  padding: 30px;
  border-radius: 0 3px 3px 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.right .title {
  font-size: 25px;
  font-weight: bold;
}
.right .description {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #808080;
}
.right .row {
  display: flex;
  margin: 10px 0 40px;
}
.right .row:last-child {
  margin: 10px 0 0;
}
.right .column {
  flex-direction: column;
}
.right .graph {
  width: 80vw;
  height: 20vw;
  background: rgba( 255, 255, 255, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  /* box-shadow: 0px 0px 22px -8px #808080; */
}
.right .graph .stock {
  margin: 0;
  margin-left: 20px;
  top: 5px;
}
.right .graph + .graph {
  margin-left: 10px;
}
.right .asset-category {
  display: flex;
}
.right .category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .asset {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.right .asset-logo {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0;
}
.right .asset-logo:before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 10px;
}
.right .asset-logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right .asset-name {
  color: #808080;
}
.right .sub-title {
  margin-bottom: 10px;
  color: #00008b;
}
.right .half {
  flex: 1;
}
.right .stock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 5px 0;
  margin: 8px 0;
}
.right .stock-logo {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0;
  margin-right: 10px;
}
.right .stock-logo:before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #555;
  transform: rotate(45deg);
  border-radius: 7px;
}
.right .stock-logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right .stock-info {
  margin-left: 5px;
  flex: 1;
}
.right .stock-name {
  color: #00008b;
}
.right .stock-fullname {
  color: #808080;
}
.right .stock-value {
  flex: 1;
  font-weight: bold;
  color: #808080;
}
.right .stock-logo.apple:before {
  background: #808080;
}
.right .stock-logo.facebook:before {
  background: #3b5998;
}
.right .stock-logo.amazon:before {
  background: #ff9b24;
}
.right .stock-logo.twitter:before {
  background: #55acee;
}
.right .stock-logo.paypal:before {
  background: #003087;
}
.right .stock-logo.google:before {
  background: #d62d20;
}
.right .stock-logo.paperpillar:before {
  background: linear-gradient(to top right, #7871ff, #6feaff);
}
.right .stock-logo.dandruft:before {
  background: linear-gradient(to top right, #f88781, #f7c682);
}
.graph-row{
  display: flex;
  flex-wrap: wrap;
}
