<header>
  <div class="nav-container nav-row">
    <a href="#" class="logo">Review 2</a>
    <nav class="nav">
      <ul class="nav__list nav__list--primary">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <% if (user.userId) { %>
        <li class="nav__item">
          <a href="/dashboard" class="nav__link">Dashboard</a>
        </li>
        <%} %>
      </ul>
      <ul class="nav__list">
        <% if (!user.userId) { %>
        <li class="nav__item">
          <a href="/login" class="nav__link">Sign in</a>
        </li>
        <li class="nav__item">
          <a href="/login" class="nav__link nav__link--button">Sign up</a>
        </li>
        <%} else { %>
        <li class="nav__item">
          <a
            href="/login"
            class="nav__link nav__link--button"
            onclick="event.preventDefault();
                    logout();
                  "
            >Logout</a
          >
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>

<script>
  async function logout() {
    const csrfToken = "<%= csrfToken %>";

    const user = await fetch("/api/auth/logout", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "anti-csrf": csrfToken,
      },
    }).then(() => {
      window.location.reload();
    });
  }
</script>
