<.header>
  New Fall sensor reading
  <:subtitle>Use this form to manage fall_sensor_reading records in your database.</:subtitle>
</.header>

<.fall_sensor_reading_form changeset={@changeset} action={~p"/fall_sensor_readings"} />

<.back navigate={~p"/fall_sensor_readings"}>Back to fall_sensor_readings</.back>
