  header {
    background: #212020;
    padding: 1em 0;
  }
  
  .logo {
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.5em;
  }
  
  .nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 30px;
  }
  
  .nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav__link:hover {
    opacity: 0.75;
  }
  
  .nav__link--button {
    background: #fff;
    color: #136c72;
    padding: 0.25em 1em;
    border-radius: 10rem;
  }
  .container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
  }
  
  .nav-row {
    display: flex;
    justify-content: space-between;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav__list {
    display: flex;
    align-items: center;
  }
  
  .nav__list--primary {
    margin: 0 auto;
  }
  
  .nav__item + .nav__item {
    margin-left: 0.5em;
  }
  